{% extends 'main/layout.html' %}

{% block content %}

<section class="content" style="flex-direction: column;">
    <h1>Удаление студента</h1>
    <p>{{ student.first_name}} {{ student.last_name }}</p>
    <form method="post" class="row g-2">
        {% csrf_token %}
        <button class="btn btn-outline-danger btn-lg" type="submit">Удалить студента</button>
        <a href="{% url 'student_detail' student.id %}" class="btn btn-outline-success btn-lg">Отменить</a>
    </form>
</section>

{% endblock %}