{% extends 'main/layout.html' %}

{% load static %}

{% block content %}

<menu class="content">
    <div class="left-side">
        <p>Международная школа программирования</p>
        <h1>JuniorCode</h1>
        <p>Программирование для детей с 5 лет.</p>
    </div>
    <div class="right-side" id="menu-img">
        <img src="{% static 'main/img/child.png' %}" alt="child" class="main-img">
        <img src="{% static 'main/img/triangle_1.svg' %}" alt="" class="others-img"
            style="width: clamp(40px, 4vw, 70px); height: auto; right: 70%;">
        <img src="{% static 'main/img/cube.svg' %}" alt="" class="others-img"
            style="width: clamp(50px, 4vw, 80px); height: auto; right: 10%;">
        <img src="{% static 'main/img/ball_1.png' %}" alt="" class="others-img"
            style="width: clamp(86px, 4vw, 128px); height: auto; top: 80%; right: 20%;">
        <img src="{% static 'main/img/triangle_2.svg' %}" alt="" class="others-img"
            style="width: clamp(40px, 4vw, 60px); height: auto; top: 90%; right: 80%;">
        <img src="{% static 'main/img/ball_2.png' %}" alt="" class="others-img"
            style="width: clamp(12px, 4vw, 18px); height: auto; top: 40%; right: 40%;">
    </div>
</menu>

<section class="content">
    <div class="right-side">
        <img src="{% static 'main/img/lesson.jpg' %}" alt="lesson" style="border-radius: 24px;" class="img-fluid">
    </div>
    <div class="left-side" style="max-width: 650px;">
        <h1>О нас</h1>
        <p>
            МШП "ЮниорКод" это сеть школ в более чем 22 странах мира. Авторские методики разработаны по технологиям
            инновационного центра СКОЛКОВО (Москва). Первая международная школа в Таджикистане, которая обучает детей
            программированию с 5 лет по 18 лет (и более).
        </p>
    </div>
</section>

<section class="content" style="flex-direction: column;">
    <div class="left-side">
        <h1>Формат занятий</h1>
        <p>
            Очные и онлайн занятия - программирование и робототехника для детей в группах, индивидуально и по
            видеокурсам
        </p>
    </div>
    <div class="right-side cards">
        {% for item in data_class_format %}
        <div class="card" style="--card-color: {{ item.color }}">
            <div class="card-title">
                <i class="{{ item.icon }}"></i>
                <h2>{{ item.title }}</h2>
            </div>
            <p class="card-text">
                {{ item.text }}
            </p>
        </div>
        {% endfor %}
    </div>
</section>

<section class="content" style="flex-direction: column;">
    <div class="left-side">
        <h1>Направления</h1>
        <p>
            Очные и онлайн школы по направлениям - программирование, создание игр и сайтов, цифровое творчество,
            компьютерная грамотность и дизайн для детей
        </p>
    </div>
    <div class="right-side cards">
        {% for item in data_direction %}
        <div class="card" style="--card-color: {{ item.color }}">
            <div class="card-title">
                <i class="{{ item.icon }}"></i>
                <h2>{{ item.title }}</h2>
            </div>
            <p class="card-text">
                {{ item.text }}
            </p>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}