{% extends 'main/layout.html' %}

{% block content %}

<section class="content" style="flex-direction: column;">
    <div class="container-fluid">
        <caption>Поиск курсов</caption>
        <form class="d-flex" role="search" method="get" action="{% url 'all_courses' %}">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="q" value="{{ query }}">
            <div class="col-md-3 ms-2">
                <select name="search_field" class="form-select">
                    <option value="all" {% if search_field == 'all' %}selected{% endif %}>Все поля</option>
                    <option value="id" {% if search_field == 'id' %}selected{% endif %}>ID</option>
                    <option value="name" {% if search_field == 'name' %}selected{% endif %}>Название</option>
                    <option value="description" {% if search_field == 'description' %}selected{% endif %}>Описание</option>
                    <option value="start_date" {% if search_field == 'start_date' %}selected{% endif %}>Дата начала</option>
                    <option value="end_date" {% if search_field == 'end_date' %}selected{% endif %}>Дата окончания</option>
                </select>
            </div>
            <button class="btn btn-outline-success ms-2" type="submit">Поиск</button>
            <button class="btn btn-outline-danger ms-2" type="reset" onclick="window.location.href='{% url 'all_courses' %}'">Сброс</button>
        </form>
        <button class="btn btn-info mt-2 float-end" onclick="window.location.href='{% url 'add_course' %}'">
            <i class="fa-solid fa-plus-circle"></i> Создать курс
        </button>
    </div>

    <table class="table table-bordered table-striped table-hover caption-top">
        <caption>Список курсов</caption>
        {% if courses.count == 0 %}
            <p>Курсы не найдены!</p>
        {% endif %}
        <thead>
            <tr>
                <th scope="col" class="id-col">
                    <a href="?sort_field=id&sort_order={% if sort_field == 'id' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        ID
                        {% if sort_field == 'id' %}
                            {% if sort_order == 'asc' %}
                                <i class="fa-solid fa-arrow-up" style="font-size: 14px;"></i>
                            {% else %}
                                <i class="fa-solid fa-arrow-down" style="font-size: 14px;"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_field=name&sort_order={% if sort_field == 'name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Название
                        {% if sort_field == 'name' %}
                            {% if sort_order == 'asc' %}
                                <i class="fa-solid fa-arrow-up" style="font-size: 14px;"></i>
                            {% else %}
                                <i class="fa-solid fa-arrow-down" style="font-size: 14px;"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_field=description&sort_order={% if sort_field == 'description' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Описание
                        {% if sort_field == 'description' %}
                            {% if sort_order == 'asc' %}
                                <i class="fa-solid fa-arrow-up" style="font-size: 14px;"></i>
                            {% else %}
                                <i class="fa-solid fa-arrow-down" style="font-size: 14px;"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_field=start_date&sort_order={% if sort_field == 'start_date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Дата начала
                        {% if sort_field == 'start_date' %}
                            {% if sort_order == 'asc' %}
                                <i class="fa-solid fa-arrow-up" style="font-size: 14px;"></i>
                            {% else %}
                                <i class="fa-solid fa-arrow-down" style="font-size: 14px;"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
                <th scope="col">
                    <a href="?sort_field=end_date&sort_order={% if sort_field == 'end_date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                        Дата окончания
                        {% if sort_field == 'end_date' %}
                            {% if sort_order == 'asc' %}
                                <i class="fa-solid fa-arrow-up" style="font-size: 14px;"></i>
                            {% else %}
                                <i class="fa-solid fa-arrow-down" style="font-size: 14px;"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for course in courses %}
                <tr onclick="window.location.href='{% url 'course_detail' course.id %}'" style="cursor: pointer;">
                    <th scope="row" class="id-col">{{ course.id }}</th>
                    <td>{{ course.name }}</td>
                    <td>
                        {% if course.description %}
                            {{ course.description }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </td>
                    <td>
                        {% if course.start_date %}
                            {{ course.start_date }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </td>
                    <td>
                        {% if course.end_date %}
                            {{ course.end_date }}
                        {% else %}
                            Не указано
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock %}
